.helpScreen-bg {
    -fx-background-image: url("../images/geometric_background.png");
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.helpScreen-panel {
    -fx-background-image: url("../images/pixel_card.png");
    -fx-background-size: 100% 100%;
    -fx-padding: 20px 40px 50px 40px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 3, 0.9, 1, 1);
}

.helpScreen-header {
    -fx-padding: 0 0 5px 0;
}

.helpScreen-title {
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.content-inner-box {
    -fx-background-color: #D3D7DB;
    -fx-background-radius: 8px;
    -fx-padding: 20px;
}

.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #1E2A38;
}

.subsection-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #2B3E50;
    -fx-padding: 5 0 0 0;
}

.help-text {
    -fx-font-size: 14px;
    -fx-text-fill: #2B3E50;
}

.code-text {
    -fx-font-family: "Consolas";
    -fx-font-size: 14px;
    -fx-text-fill: #52A9D6;
    -fx-background-color: #263238;
    -fx-padding: 4;
    -fx-background-radius: 6;
}

.code-description {
    -fx-font-size: 13px;
    -fx-text-fill: #1E2A38;
}

.back-to-menu-button {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 60px;
    -fx-font-size: 25px;
}