.levelSelection-bg {
    -fx-background-image: url("../images/geometric_background.png");
    -fx-background-size: 100%;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-position: center;
    -fx-padding: 20px;
}

.levelSelection-panel {
    -fx-background-image: url("../images/pixel_card.png");
    -fx-background-size: 100% 100%;
    -fx-padding: 20px 40px 50px 40px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 3, 0.9, 1, 1);
}

.levelSelection-header {
    -fx-padding: 0 0 5px 0;
}

.levelSelection-title {
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}


/*.content-inner-box {*/
/*    -fx-background-color: #D3D7DB;*/
/*    -fx-padding: 20px;*/
/*}*/


.content-inner-box {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-color: transparent;
}


.back-to-menu-button {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 60px;
    -fx-font-size: 25px;
}

.level-preview-button {
    -fx-min-width: 100px;
    -fx-min-height: 80px;
    -fx-max-width: 100px;
    -fx-max-height: 80px;
    -fx-background-size: 100% 100%;;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.level-preview-button:hover {
    -fx-effect: innershadow( gaussian, rgba(52, 97, 163, 0.17), 50, 50, 50, 50 );
}

.level-preview-button:disabled {
    -fx-opacity: 0.5;
}

.level-preview-button.locked {
    -fx-background-image: url("../images/padlock.png");
    -fx-effect: innershadow( gaussian, rgba(255, 255, 255, 0.24), 50, 50, 50, 50 );
}

.level-number-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.star-label {
    -fx-font-size: 20px;
    -fx-text-fill: #ffff00;
}


.pagination {
    -fx-page-information-visible: false;
}
