
.title-label {
    -fx-font-size: 70px;
    -fx-text-fill: #DDDDDD;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 2, 0.3, 1, 1);
}

.menu-button {
    -fx-background-image: url('../images/button_main.png');
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 8px 15px 8px 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-font-size: 35px;
    -fx-alignment: CENTER;
    -fx-text-fill: #E0D8C0;
    -fx-min-width: 400px;
    -fx-min-height: 80px;
    -fx-max-width: 400px;
    -fx-max-height: 80px;
}

.title-label:hover {
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 3, 0.4, 1, 1);
}

.menu-button:hover {
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(255,255,220,0.3), 10, 0.0, 0, 0);
    -fx-opacity: 0.9;
}

.menu-button:pressed {
    -fx-text-fill: #C0B090;
    -fx-padding: 9px 15px 7px 15px;
    -fx-effect: none;
}

